import (
	"context"

	"go.uber.org/yarpc"

	"github.com/uber/cadence/common"
	"github.com/uber/cadence/common/config"
	"github.com/uber/cadence/common/metrics"
	"github.com/uber/cadence/common/resource"
	"github.com/uber/cadence/common/types"
	"github.com/uber/cadence/service/frontend/api"
	frontendcfg "github.com/uber/cadence/service/frontend/config"
)

{{$nonForwardingAPIs := list "Health" "DeprecateDomain" "DeleteDomain" "DescribeDomain" "FailoverDomain" "ListDomains" "RegisterDomain" "UpdateDomain" "GetSearchAttributes" "GetClusterInfo" "DiagnoseWorkflowExecution" "ListFailoverHistory"}}
{{$domainIDAPIs := list "RecordActivityTaskHeartbeat" "RespondActivityTaskCanceled" "RespondActivityTaskCompleted" "RespondActivityTaskFailed" "RespondDecisionTaskCompleted" "RespondDecisionTaskFailed" "RespondQueryTaskCompleted"}}
{{$startWFAPIs := list "StartWorkflowExecution" "StartWorkflowExecutionAsync" "SignalWithStartWorkflowExecution" "SignalWithStartWorkflowExecutionAsync"}}
{{$nonstartWFAPIs := list "DescribeWorkflowExecutionRequest" "GetWorkflowExecutionHistory" "QueryWorkflowRequest" "RequestCancelWorkflowExecution" "ResetWorkflowExecution" "RestartWorkflowExecution" "SignalWorkflowExecution" "TerminateWorkflowExecution" }}
{{$queryTaskTokenAPIs := list "RespondQueryTaskCompleted"}}
{{$readAPIsWithStrongConsistency := list "QueryWorkflow" "DescribeWorkflowExecution" "GetWorkflowExecutionHistory"}}

type (
	// ClusterRedirectionHandlerImpl is simple wrapper over frontend service, doing redirection based on policy for global domains not being active in current cluster
	clusterRedirectionHandler struct {
		resource.Resource

		currentClusterName string
		redirectionPolicy  ClusterRedirectionPolicy
		tokenSerializer    common.TaskTokenSerializer
		domainCache        cache.DomainCache
		config             *frontendcfg.Config
		frontendHandler    api.Handler
		callOptions        []yarpc.CallOption
	}
)

// NewAPIHandler creates a frontend handler to handle cluster redirection for global domains not being active in current cluster
func NewAPIHandler(
	wfHandler api.Handler,
	resource resource.Resource,
	config *frontendcfg.Config,
	policy config.ClusterRedirectionPolicy,
) api.Handler {
	dcRedirectionPolicy := RedirectionPolicyGenerator(
		resource.GetClusterMetadata(),
		config,
		policy,
		resource.GetLogger(),
		resource.GetActiveClusterManager(),
		resource.GetMetricsClient(),
	)

	return &clusterRedirectionHandler{
		Resource:           resource,
		currentClusterName: resource.GetClusterMetadata().GetCurrentClusterName(),
		domainCache:        resource.GetDomainCache(),
		config:             config,
		redirectionPolicy:  dcRedirectionPolicy,
		tokenSerializer:    common.NewJSONTaskTokenSerializer(),
		frontendHandler:    wfHandler,
		callOptions:        []yarpc.CallOption{yarpc.WithHeader(common.AutoforwardingClusterHeaderName, resource.GetClusterMetadata().GetCurrentClusterName())},
	}
}

{{range $method := .Interface.Methods}}
func (handler *clusterRedirectionHandler) {{$method.Declaration}} {
	{{- if has $method.Name $nonForwardingAPIs}}
	return handler.frontendHandler.{{$method.Call}}
	{{- else}}
	var (
		apiName = "{{$method.Name}}"
		cluster string
		requestedConsistencyLevel types.QueryConsistencyLevel = types.QueryConsistencyLevelEventual
	)

	{{- if has $method.Name $readAPIsWithStrongConsistency}}
	// Only autoforward strong consistent queries, this is done for two reasons:
	// 1. Query is meant to be fast, autoforwarding all queries will increase latency.
	// 2. If eventual consistency was requested then the results from running out of local dc will be fine.
	if {{(index $method.Params 1).Name}}.GetQueryConsistencyLevel() == types.QueryConsistencyLevelStrong {
		requestedConsistencyLevel = types.QueryConsistencyLevelStrong
	}
	{{- end}}

	var domainEntry *cache.DomainCacheEntry
	scope, startTime := handler.beforeCall(metrics.DCRedirection{{$method.Name}}Scope)
	defer func() {
		handler.afterCall(recover(), scope, startTime, domainEntry, cluster, &err)
	}()


	{{if has $method.Name $domainIDAPIs}}
	var idGetter domainIDGetter
	{{if has $method.Name $queryTaskTokenAPIs}}
	idGetter, err = handler.tokenSerializer.DeserializeQueryTaskToken({{(index $method.Params 1).Name}}.TaskToken)
	{{- else}}
	idGetter, err = handler.tokenSerializer.Deserialize({{(index $method.Params 1).Name}}.TaskToken)
	{{- end}}
	if err == nil {
		domainEntry, err = handler.domainCache.GetDomainByID(idGetter.GetDomainID())
	}
	{{- else}}
	domainEntry, err = handler.domainCache.GetDomain({{(index $method.Params 1).Name}}.Domain)
	{{- end}}
	if err != nil {
		{{- if eq (len $method.Results) 1}}
		return err
		{{- else}}
		return nil, err
		{{- end}}
	}

	var actClSelPolicyForNewWF *types.ActiveClusterSelectionPolicy
	var workflowExecution *types.WorkflowExecution
	{{- if has $method.Name $startWFAPIs}}
	if !handler.config.EnableActiveClusterSelectionPolicyInStartWorkflow(domainEntry.GetInfo().Name) {
		{{(index $method.Params 1).Name}}.ActiveClusterSelectionPolicy = nil
	}
	actClSelPolicyForNewWF = {{(index $method.Params 1).Name}}.ActiveClusterSelectionPolicy
	{{- if eq $method.Name "SignalWithStartWorkflowExecution"}}
	workflowExecution = &types.WorkflowExecution{
		WorkflowID: {{(index $method.Params 1).Name}}.GetWorkflowID(),
	}
	{{- end}}
	{{- else if has $method.Name $nonstartWFAPIs}}
	workflowExecution = {{(index $method.Params 1).Name}}.GetWorkflowExecution()
	{{- end}}


	err = handler.redirectionPolicy.Redirect(ctx, domainEntry, workflowExecution, actClSelPolicyForNewWF, apiName, requestedConsistencyLevel, func(targetDC string) error {
		cluster = targetDC
		switch {
		case targetDC == handler.currentClusterName:
			{{$method.ResultsNames}} = handler.frontendHandler.{{$method.Call}}
		default:
			remoteClient, clientErr := handler.GetRemoteFrontendClient(targetDC)
			if clientErr != nil {
				return clientErr
			}
			{{$method.ResultsNames}} = remoteClient.{{$method.Name}}({{$method.Params.Pass}}, handler.callOptions...)
		}
		return err
	})

	return {{$method.ResultsNames}}
	{{- end}}
}
{{end}}
